{% extends 'base.html' %} 
{% include 'header.html' %}

{% block title %} Home {% endblock %} 

{% block body %}

<div class="bg-cyan-300 p-5 flex flex-col gap-1">
        <div class="flex flex-row justify-between p-5 bg-red-300">
            <div class="">
                <h2>Test</h2>
            </div>
            <div class="float-right">
                <button class="rounded-full w-44 h-10  bg-green-400">
                    <h2>Yes</h2>
                </button>
            </div>
        </div>
        <div class="flex flex-row bg-green-300">
            Test
        </div>
</div>
{% endblock %}
